.row.row {
	margin: 0em;
	padding: 0em;
}

a,
.sec-contact .btn {
	-webkit-transition: all .25s;
	transition: all .25s;
}


/*=Typography=*/

body {
	font-size: 16px;
	font-weight: 300;
}

.navbar a,
.sec-about p {
	text-align: center;
}

.navbar a {
	font-size: 14px;
}

.navbar .fa-external-link {
	font-size: 10px;
}

.main-heading {
	font-weight: 900;
	text-align: center;
	text-transform: lowercase;
	font-family: 'Cherry Cream Soda', cursive;
}

.container > h1 {
	font-weight: 300;
	text-align: center;
	text-transform: lowercase;
	font-family: 'Cherry Cream Soda', cursive;
}

p {
	font-size: 10px;
	font-family: 'Cherry Cream Soda', cursive;;
	line-height: 1.5;
}

.sec-about a {
	text-decoration: underline;
	background-color: #9E6937;
}

.sec-services h2,
.sec-services p {
	font-weight: 300;
	text-align: center;
}

.sec-love p {
	font-style: oblique;
}

.sec-contact .btn {
	text-transform: uppercase;
}

.soc-media-ul a {
	text-align: center;
	text-decoration: none;
}


/*=Base=*/

section {
	padding: 5em 0;
}

footer {
	padding: 3em 0;
}

@media screen and (max-width: 768px) and (min-width: 485px) {
	form {
		max-width: 70%;
	}
	p{
		max-width: 40%
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

hr {
	margin-bottom: 3em;
	width: 7%;
}


/*=Module=*/


/*=Layout=*/

.sec-folio .row {
	margin-bottom: 3em;
}


/*Header*/

.navbar {
	background: transparent;
	border: none;
	box-shadow: 10px grey;
	color: white;
	z-index: 100;
	margin-bottom: 0;
	border-radius: 0;
	padding-top: 20px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar .navbar-nav li {
	margin-left: 10px;
}

.navbar .navbar-nav li a {
	color: #fff;
	background: transparent;
}

.navbar .navbar-nav li a:before,
.navbar .navbar-nav li a:after {
	content: '';
	border-bottom: solid 1px white;
	position: absolute;
	bottom: 0;
	width: 0;
	-webkit-transition: width 0.2s ease;
	transition: width 0.2s ease;
}

.navbar .navbar-nav li a:before {
	left: 0;
}

.navbar .navbar-nav li a:after {
	right: 0;
	color: black;
}

.navbar .navbar-nav li a:hover:before,
.navbar .navbar-nav li a:hover:after {
	width: 50%;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.nav--sticky {
	background-color: rgba(0, 0, 0, 0.74);
	color: black;
	padding: 0.4%;
}

.nav--sticky ul li a {
	color: black;
}

.nav--sticky .navbar-brand {
	padding: 10px 15px;
}

.nav--sticky .navbar-brand img {
	width: 100px;
	height: auto;
}


/*Main*/

.sec-main {
	position: relative;
	height: 560px;
	background: url(../images/laptop.jpg);
	height: 100vh;
	/*	background-attachment: fixed;*/
	background-repeat: no-repeat center center;
	background-size: cover;
	/*
	-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
*/
}

.main-heading {
	position: absolute;
	top: -20%;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	padding: 0;
	margin: auto;
	height: 40px;
	color: silver;
}


/*About*/

#about h1,
p {
	color: maroon;
	font-weight: 900;
}


/*Services*/

.sec-services {
	background: #351431;
}
￼
Retail Distribution & Marketing
The Retail Outlets in Kenya average over 100,000 in number with an average daily purchase of Kshs. 3,000 presenting a market share potential of over Kshs 7.5 billion per month in sales experienced in this market if accessibility to these outlets is efficient and effective. Kaskazi though their channels will connect you to 

/*Testimonials*/

.sec-love {
	background: #E8F8FF;
}


/*Footer*/

footer {
	background: #000;
}

.soc-media-ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
	/*	margin-left: 1em;
	*/
}

.soc-media-ul a {
	padding: 0.35em 0;
	width: 1.85em;
	color: #fff;
	border-radius: 50%;
	border: 2px solid;
}

.soc-media-ul a:hover,
.soc-media-ul a:focus {
	color: #ad0000;
}

@media (min-width: 768px) .container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
	margin-right: -205px;
	margin-left: -100px;
.text-center:40%;
}
img {
	width:100%
}
#about {
	background-color: #FFF8F0;
}

footer h2 {
	color: #fff;
}

body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cherry Cream Soda', cursive;
	font-weight: 900;
}

.fa-4x {
	font-size: 6em;
	margin-left: 40%;
}

.row.collapse.large-6.large-centered.columns.navbar-collapse {
	padding-left: 0;
	margin-left: 25%;
	margin-right: 0;
}


/*portfolio*/

.portfolio {
	background-color: #D27CFF;
	color: whitesmoke;
	font-weight: 800;
}
/*
figure.snip0019 {
	color: #fff;
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	margin: 1em 0em;
	padding: 0em 0em;
	background: #000000;
	text-align: center;
}

figure.snip0019 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

figure.snip0019 img {
	opacity: 1;
	background-color: #fff;
	height: 50vh;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

figure.snip0019 img:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
}

figure.snip0019 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;
}

figure.snip0019 figcaption > div {
	float: left;
	height: 100%;
	overflow: hidden;
	width: 50%;
	position: relative;
}

figure.snip0019 figcaption::before {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	width: 2px;
	content: '';
	opacity: 0;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

figure.snip0019 h3,
figure.snip0019 p {
	margin: 0;
	padding: 20px;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
	transition: opacity 0.45s, -webkit-transform 0.45s, -moz-transform 0.45s, -o-transform 0.45s, transform 0.45s;
}

figure.snip0019 h3 {
	text-align: right;
	display: inline-block;
	word-spacing: 0em;
	font-weight: 300;
	padding: 30%;
	text-transform: uppercase;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transform: translate3d(50%, 0%, 0);
	transform: translate3d(50%, 0%, 0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.snip0019 h3 span {
	font-weight: 800;
}

figure.snip0019 p {
	display: block;
	bottom: 0;
	text-align: left;
	font-weight: 300;
	top: 0%;
	padding: 30%;
	color: #000;
	font-weight: 900;
	background: #ffffff;
	-webkit-transform: translate3d(-50%, 0%, 0);
	transform: translate3d(-50%, 0%, 0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.snip0019 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	color: #ffffff;
}

figure.snip0019:hover img {
	filter: none;
	-webkit-filter: grayscale(0%);
}

figure.snip0019:hover figcaption h3,
figure.snip0019:hover figcaption p {
	-webkit-transform: translate3d(0%, 0%, 0);
	transform: translate3d(0%, 0%, 0);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

figure.snip0019:hover figcaption h3 {
	opacity: 1;
}

figure.snip0019:hover figcaption p {
	opacity: 1;
}

figure.snip0019:hover figcaption::before {
	background: #ffffff;
	top: 0px;
	bottom: 0px;
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
*/
.fa-mobile-phone:before,
.fa-mobile:before {
	content: "\f10b";
	margin-left: 1%;
	margin-left: 25%;
}


/*contact
*/

.contact {
	background-attachment: fixed;
	margin: auto;
	height: auto;
	font-family: 'Cherry Cream Soda', cursive;
	background-color: #D27CFF;
	font-weight: 900;
}

.contact h2 {
	margin-top: 4%;
	color: whitesmoke;
	font-family: 'Cherry Cream Soda', cursive;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-size: 0.875em;
	color: black;
	font-weight: 800;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	font-size: 0.875em;
	color: black;
	font-weight: 800;
}

input::placeholder,
textarea::placeholder {
	font-size: 0.875em;
	color: black;
	font-weight: 800;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
	font-size: 0.875em;
	color: black;
	font-weight: 800;
}


/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
	font-size: 0.875em;
	color: black;
	font-weight: 800;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
	font-size: 0.875em;
	color: black;
	font-weight: 800;
}

input:hover::placeholder,
textarea:hover::placeholder {
	font-size: 0.875em;
	color: black;
	font-weight: 800;
}

input:hover::placeholder,
textarea:hover::placeholder {
	color: black;
	font-weight: 800;
	font-size: 0.875em;
}

#form {
	width: 100%;
	margin: 50px auto 50px auto;
}

input {
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 0.875em;
	width: 100%;
	color: black;
	height: 50px;
	padding: 0px 15px 0px 15px;
	background: transparent;
	outline: none;
	border: solid 1px #7b0d0d;
	border-top: none;
	border-bottom: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

input:hover {
	background: #7b0d0d;
	color: black;
	font-family: 'Cherry Cream Soda', cursive;
}

textarea {
	padding: 15px;
	background: transparent;
	outline: none;
	/*	font-family: 'Lato',
	sans-serif;
	*/
	font-size: 0.875em;
	border: solid 1px #b3aca7;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	color: black;
}

textarea:hover {
	background: #7b0d0d;
	color: black;
}

#submit {
	width: 100%;
	padding: 0;
	margin: -5px 0px 0px 0px;
	color: whitesmoke;
	font-weight: 900;
	font-size: 0.875em;
	outline: none;
	cursor: pointer;
	border: solid 1px #b3aca7;
	margin-bottom: 10%;
}

#submit:hover {
	background-color: whitesmoke;
	color: maroon;
}

.contact ul li {
	list-style: none;
	display: inline-block;
}

.contact i {
	font-size: 30px;
}

.contact h3 {
	margin-top: 2%;
}

#to-top {
	display: none;
	background-color: #fff;
	margin: 0;
	position: fixed;
	bottom: 2%;
	right: 1%;
	width: 50px;
	height: 50px;
	z-index: 99;
	border-radius: 50px;
	-webkit-transition: background 0.1s linear 0s;
	transition: background 0.1s linear 0s;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
}

#to-top:hover {
	background-color: #723124;
}

#to-top:hover i {
	color: #fff;
}

#to-top i {
	font-size: 30px;
	color: #723124;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -16px;
	margin-left: -10px;
	line-height: 1em;
}

footer ul li {
	list-style: none;
	display: block;
	padding: 5%;
}

footer ul {
	margin-top: 15%;
}

footer i {
	font-size: 20px;
	letter-spacing: 3%;
	color: #fff;
	font-weight: 900;
}

footer p {
	color: white;
	text-align: center;
	margin-left: 5%;
}

.icons {
	font-family: 'Cherry Cream Soda', cursive;
	font-weight: 900;
	color: whitesmoke;
}
