
  @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  }
  /*..................................................................................
HEADER
..................................................................................*/
  header a {
    border: 1px solid #B7B4E5;
    border-radius: 290486px;
    color: #FFA813;
    font-size: 1.4em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }

  header a:hover {
    background:  #F3FFFD;
    color: #221DFF;
  }
    h2 {
    margin-top: 1em;
    padding-top: 1em;
  }
  h1,
  strong {
    color: #333;
  }

  code,
  pre {
    background: #eee;
  }

  code {
    padding: 2px 4px;
    vertical-align: text-bottom;
  }

  pre {
    padding: 1em;
  }
  a {
    color: #e81c4f;
  }
  body {
    color: #566b78;
  }

  code,
  pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
  }

  pre {
    border-left: 2px solid #69c;
  }

  body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  body{
  margin: 0 auto;
  max-width: 100em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  background-color: palette;
  color: #555;
  }
  /*..................................................................................
HOME
..................................................................................*/
#home{
  background-image:url("../images/watch.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
}
.headone{
  padding: 10%;
  font-size: 5em;
  font-weight: bolder;

}
.intro{
  padding-top:3%;
  font-size: 2em;
  color: #8120F2;
  align-content: center;
}
#name{
  padding: 4%;
  align-content: center;
}
#more{
  align-content: center;
  font-size: 20px;
  padding-left: 50%;
}
#fa fa-angle-double-down{
  padding-left: 50%;
}
/*..................................................................................
ABOUT
..................................................................................*/
#about{
  align-content: center;
  line-height: 4.0em;
  font-family: 'Tangerine', serif;
  font-size: 24px;
}
/*..................................................................................
CONTACT
..................................................................................*/
#contact{
  padding-bottom: 30px;
}
.social a{
  border: 1px solid #A2E5D2;
  border-radius: 290486px;
  color: #3A00FF;
  font-size: 1.0em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: lowercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}
i{
  padding-left: 5px;
}

/*..................................................................................
PORTFOLIO
..................................................................................*/
.portfolio{
  font-size: 48px;
  color:blue;
  overflow:hidden;
  position: relative;
  top:0;
  left:0;
  z-index: 1;
  text-align: left;
}
.portfolio:hover{
  margin-right:1em;
  transition: all .5s linear;
}
.portfolio img:hover{
  width:400px;
  height:276px;
  transition: all .5s linear;
}
.content{
  position: absolute;
  top:0;
  left:0;
  width:400px;
  height:276px;
  z-index: -100;
  background-color:red;
}
 .content p{
  padding: 1em 1em 1em 1em;
}

/* Media Query */
/* Small only */
@media screen and (max-width: 39.9375em) {
body{
  background: navy;
  header a:100%;
}
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
        background-color: yellow;
    }
}


/* Large and up */
@media screen and (min-width: 64em) {
  body {
        background-color: blue;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  body {
        background-color: red;
    }
}
