

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  }
  /*home*/
#home{
background-color: grey;
padding-top: 0;
}

/*About*/

#about{
  background-color: #4DE8C3;
}
/*Portfolio*/


  /*contact*/
  .social{
    position: relative;
    top: 0px;
    right: 0px;
    height: 470px;
    width: 300px;
    background: transparent;
    text-align: center;
}
.social i{
    color: #8C8788;
    height: 90px;
    width: 300px;

}
.img1{
  position: relative;
  width: 100%;
  height: 100%
}
/*Footer*/
.menu{
  height:35px;
  padding-bottom: 0;
}
