// Variables
$red: #ad0000;
// Placeholder selectors
%transition {
	transition: all .25s;
}


/*=Typography=*/

body {
	font-size: 16px;
	font-weight: 300;
}

.navbar a,
.sec-about p {
	text-align: center;
}

.navbar a {
	font-size: 16px;
}

.navbar .fa-external-link {
	font-size: 10px;
}

.main-heading {
	font-weight: 300;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.container > h1 {
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}

p {
	font-size: 16px;
	line-height: 1.5;
}

.sec-about a {
	text-decoration: underline;
	background-color: #9E6937;
}

.sec-services h2,
.sec-services p {
	font-weight: 300;
	text-align: center;
}

.sec-testimonials p {
	font-style: italic;
}

.sec-contact .btn {
	text-transform: uppercase;
}

.soc-media-ul a {
	text-align: center;
	text-decoration: none;
}


/*=Base=*/

section {
	padding: 5em 0;
}

footer {
	padding: 3em 0;
}

form {
	@media screen and (max-width: 768px) and (min-width: 485px) {
		max-width: 70%;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	@extend %transition;
}

hr {
	margin-bottom: 3em;
	width: 7%;
}


/*=Module=*/


/*=Layout=*/

.sec-folio .row {
	margin-bottom: 3em;
}

.sec-testimonials .row {}


/*Header*/


/*About*/

.sec-about  a {
	color: #000;
	&:hover,
	&:focus {
		color: $red;
	}
}


/*Services*/

.sec-services {
	background: #351431;
}

.sec-services i {
	display: block;
	margin: auto;
	width: 45px;
}

.sec-services .fa-code {
	width: 68px
}

.sec-services h2 {
	margin: 1em 0;
	color: black;
}


/*Testimonials*/

.sec-testimonials {
	background: #f9f9f9;
}


/*Contact*/

.sec-contact .form-control:focus {
	border-color: $red;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
	background: #000;
	color: #fff;
	@extend %transition;
	&:hover,
	&:focus {
		background: $red;
		border-color: darken($red, 10%);
	}
}


/*Footer*/

footer {
	background: #000;
}

.soc-media-ul {
	display: flex;
	justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
	margin-left: 1em;
}

.soc-media-ul a {
	padding: 0.35em 0;
	width: 1.85em;
	color: #fff;
	//	border-radius: 50%;
	//	border: 2px solid;
	&:hover,
	&:focus {
		color: $red;
	}
}

body p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bungee Hairline', cursive;
	font-weight: 600;
}
